body, html {
  margin: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100dvh;
  margin: 0;
  background: radial-gradient(circle,rgba(0, 54, 181, 1) 0%, rgba(0, 10, 33, 1) 100%);
}


#gh-link {
  width: 40px;
  height: 40px;
  background-color: #ffffffc9;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px 10px;
  z-index: 1;
  text-align: center;
  border: #000000 2px solid;
}

#gh-link > img {
  width: 80%;
  height: 80%;
  margin: 10%;
}
